Repository aiverify-foundation/aiverify, pull requests merged in 2023-09, with the labels that each got.

#168 bugfix - set width to widget description text to prevent overlap, and…
  ai-verify-portal/src/modules/plugins/styles/plugins.module.css
  ai-verify-portal/src/modules/plugins/utils/deserializeAlgoRequirement.ts
Labels: frontend-portal, bug-fix

#181 Update documentation
  getting-started/prepare-image/index.html
  sitemap.xml
  sitemap.xml.gz
  using-toolkit-step-by-step/test-ai-model-and-generate-report/7-provide-test-args/index.html
Labels: documentation, automerge

#182 Fix/issue 77 report title not substituted
  ai-verify-portal/pages/project/[id].tsx
  ai-verify-portal/server/lib/projectServiceBackend.ts
  ai-verify-portal/src/lib/projectService.ts
  ai-verify-portal/src/modules/project/index.tsx
  ai-verify-portal/src/modules/project/projectContext.ts
  ai-verify-portal/src/modules/project/projectInformation.tsx
  ai-verify-portal/src/modules/projectTemplate/canvas.tsx
  ai-verify-portal/src/modules/projectTemplate/projectTemplateContext.ts
Labels: frontend-portal, bug-fix

#186 re-addChore/tests select dataset model
  .github/workflows/pre-merge-checks-portal.yml
  ai-verify-portal/__mocks__/ai-verify-shared-library/lib.ts
  ai-verify-portal/__mocks__/mockGqlResponse.ts
  ai-verify-portal/__mocks__/mockPlugins.ts
  ai-verify-portal/__mocks__/server/pluginManager.ts
  ai-verify-portal/__tests__/modules/__snapshots__/project.canvas.test.tsx.snap
  ai-verify-portal/__tests__/modules/__snapshots__/project.selectDatasetModel.test.tsx.snap
  ai-verify-portal/__tests__/modules/__snapshots__/project.test.tsx.snap
  ai-verify-portal/__tests__/modules/plugins.test.tsx
  ai-verify-portal/__tests__/modules/project.canvas.test.tsx
  ai-verify-portal/__tests__/modules/project.selectDatasetModel.test.tsx
  ai-verify-portal/jest.config.js
  ai-verify-portal/package-lock.json
  ai-verify-portal/package.json
  ai-verify-portal/server/lib/projectServiceBackend.ts
  ai-verify-portal/src/lib/assetService.ts
  ai-verify-portal/src/lib/projectService.ts
  ai-verify-portal/src/lib/projectTemplateService.ts
  ai-verify-portal/src/modules/assets/datasetList.tsx
  ai-verify-portal/src/modules/assets/modelList.tsx
  ai-verify-portal/src/modules/project/algorithmWidget.tsx
  ai-verify-portal/src/modules/project/header.tsx
  ai-verify-portal/src/modules/project/inputBlockList.tsx
  ai-verify-portal/src/modules/project/projectContext.ts
  ai-verify-portal/src/modules/project/selectDatasetAndModel.tsx
  ai-verify-portal/src/modules/project/userInput.tsx
  ai-verify-portal/src/modules/projectTemplate/canvas.tsx
  ai-verify-portal/src/modules/projectTemplate/projectTemplateContext.ts
Labels: frontend-portal
